body{
    background-color: #0c243c;
    color: #c9d1d5;
}
#navbar{
    color: #c9d1d5;
}
.table{
    color: #c9d1d5;
}
.red{
    color: #c9d1d5;
}
.nav-item{
    color: #c9d1d5;
}
.nav-link{
    color: #c9d1d5;
}
#aa{
    color: #c9d1d5;
    text-align: center;
}
